<% provide(:title, 'Questions' ) %>
These are all <%= @questions.count %> questions for <%= @illness.illness %>: 

<% @questions.each do |question| %>
	<ul><%= question.question %> (<%= question.asked %>) <%= link_to "Delete question", [@illness, question], :method => :delete %></ul>
<% end %>	

<%= link_to 'Add a question', new_illness_question_path(@illness) %>