Thanks for adding a new illness.

<%= link_to 'Click here to go back to the list of illnesses', illnesses_path %>
<%= link_to 'Click here to start adding questions for this illness', new_illness_question_path(@illness) %> <% # @illness works because you just created the new illness and assigned it to @illness so we're now passing in the right parameter %>