<% provide(:title, 'Illnesses') %>
There are <%= @illnesses.count %> illnesses.  Which illness are you visiting your doctor for?  We're currently tracking <%= @illnesses.count %> illnesses.

<% @illnesses.each do |illness| %>
	<ul><%= link_to illness.illness, illness_path(illness) %> (<%= illness.questions.count %> <%= link_to 'questions', illness_questions_path(illness) %> ) <%= link_to 'Delete Illness', illness, :method => :delete %> <%= link_to 'Add Question', new_illness_question_path(illness) %></ul>
<% end %>


<%= form_for(@illness) do |f| %>
	<%= f.text_field :illness %>
	<%= f.submit "Add Illness" %>
<% end %>
